.cardContainer {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 24px;
    row-gap: 24px;
    margin-bottom: 40px;

    @media only screen and (min-width: 600px) {
        grid-template-columns: 1fr 1fr;
      };
    
      @media only screen and (min-width: 900px) {
        grid-template-columns: 1fr 1fr 1fr;
      }

}
