@keyframes pulse {
  0% {
    background-color: var(--grey, #f5f5f5);
  }
  50% {
    background-color: var(--grey1, #e6e6e6);
  }
  100% {
    background-color: var(--grey, #f5f5f5);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

os-visualisation {
  font-family:
    Amsterdam Sans,
    arial,
    sans-serif;
  width: 100%;
  position: relative;
  display: flex;
  background-color: white;

  /* set min-height to minimize layout shift */
  min-height: 600px;

  article {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid var(--grey1, #e6e6e6);
    background: white;

    hgroup {
      padding: 24px 24px 0 24px;
    }
    figure {
      padding: 24px;
    }
  }
  article.noBorder {
    border: none;

    hgroup {
      padding: 0;
    }
    figure {
      padding: 24px 0 0 0;
    }
  }

  figure {
    position: relative;
  }

  .container {
    width: 100%;
    background: white;
  }

  .container.loading {
    animation: pulse 2s ease-in-out infinite;
  }

  .container > img {
    width: 100%;
  }

  /* static image for Google to index */
  .static {
    position: absolute;
    z-index: -1;
    img {
      width: 1200px;
      max-width: 1200px;
    }
  }

  figcaption {
    font-size: var(--level-6-font-size);
    line-height: var(--level-6-line-height);
    padding-top: 24px;
  }

  figcaption:empty {
    display: none;
  }

  footer {
    margin-top: auto;
    background-color: var(--grey, #f5f5f5);
    padding: 0 24px;
    min-height: 60px;
    border-top: 1px solid var(--grey1, #e6e6e6);

    /* source and buttons */
    > div:nth-child(1) {
      min-height: 60px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }

    .options {
      display: flex;
      column-gap: 12px;
      flex-wrap: wrap;
    }

    .showDataButton {
      svg {
        transition: transform 0.25s ease-in;
      }
    }

    /* table */
    .dataTable {
      display: none;

      /* table */
      > div:nth-child(1) {
        max-height: 500px;
        overflow-y: auto;
        margin: 20px 0;

        table {
          width: 100%;
          border-collapse: separate;
          border-spacing: 0;
          justify-self: center;
          position: relative;
          text-align: center;
          width: 100%;

          thead {
            position: sticky;
            top: 0;
            z-index: 1;
            background-color: var(--grey, #f5f5f5);
          }

          th,
          td {
            font-size: var(--level-6-font-size);
            line-height: var(--level-4-font-size);
            margin: 0;
            padding: 8px 16px;
            text-align: left;
            vertical-align: top;
            border-bottom: 2px solid white;
            border-right: 2px solid white;
            hyphens: auto;
            word-break: break-word;

            &:first-child {
              border-left: 2px solid white;
            }

            &:first-letter {
              text-transform: uppercase;
            }
          }

          th {
            border-top: 2px solid white;
          }
        }
      }

      /* download button */
      > div {
        text-align: right;
        button {
          margin-bottom: 12px;
        }
      }
    }

    &.showData {
      .showDataButton {
        svg {
          transform: rotate(180deg);
        }
      }
      .dataTable {
        display: block;
      }
    }
  }

  .deck {
    position: relative;
    flex: auto;
    border-bottom: none;
    margin: 0;

    canvas {
      overflow: hidden;
    }

    /* last div is the tooltip container, we want to allow the tooltip to overflow */
    > :last-child {
      overflow: visible !important;
    }
  }

  .deck-tooltip {
    background: none !important;
  }

  .buttons {
    position: absolute;
    bottom: 8px;
    right: 8px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;

    button {
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
      user-select: none;
      background-color: white;
      &:focus,
      &:hover {
        background-color: #e6e6e6;
        text-decoration: none;
      }
    }
  }

  .legend {
    position: absolute;
    display: grid;
    padding: 8px;
    gap: 8px;
    background-color: var(--bg-color);

    /* title */
    & > div:nth-child(1) {
      grid-area: title;
      font-weight: bold;
    }

    /* orientation */
    &[data-orient='top-left'] {
      left: 8px;
      top: 8px;
    }

    &[data-orient='top-right'] {
      right: 8px;
      top: 8px;
    }

    &[data-orient='bottom-left'] {
      left: 8px;
      bottom: 8px;
    }

    &[data-orient='bottom-right'] {
      right: 8px;
      bottom: 8px;
    }

    &[data-variant='list'] {
      grid-template-areas:
        'title'
        'values';

      & ul {
        font-size: var(--level-6-font-size);
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          display: flex;
          &[data-direction='horizontal'] {
            display: inline-flex;
          }
          margin-right: 16px;
          align-items: center;
          &::before {
            content: ' ';
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-right: 8px;
            background-color: var(--color);
          }
        }
      }
    }

    &[data-variant='break-points'] {
      font-weight: bold;
      display: grid;
      gap: 8px;
      grid-template-areas:
        'title title'
        'colors values';

      &[data-direction='horizontal'] {
        grid-template-areas:
          'title'
          'values'
          'colors';
      }

      /* colors */
      & > div:nth-child(2) {
        grid-area: colors;
        display: flex;
        flex-direction: column;
        width: 100%;

        & div {
          height: 36px;
          width: 16px;
          background-color: var(--color);
        }

        &[data-direction='horizontal'] {
          flex-direction: row;
          & div {
            height: 16px;
            width: 50px;
          }
        }
      }

      /* values */
      & > div:nth-child(3) {
        grid-area: values;
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-top: 28px;

        & div {
          height: 36px;
          background-color: var(--color);
        }

        &[data-direction='horizontal'] {
          flex-direction: row;
          margin-left: 25px;
          margin-top: 0;

          & div {
            text-align: center;
            height: 16px;
            width: 50px;
          }
        }
      }
    }

    &[data-variant='gradient'] {
      font-weight: bold;
      display: grid;
      grid-template-areas:
        'title title'
        'colors values';

      &[data-direction='horizontal'] {
        grid-template-areas:
          'title'
          'values'
          'colors';
      }

      /* values */
      & > div:nth-child(2) {
        grid-area: values;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        &[data-direction='horizontal'] {
          flex-direction: row;
        }
      }

      /* gradient */
      & > div:nth-child(3) {
        grid-area: colors;
        width: 16px;
        height: 180px;
        background-image: var(--gradient);

        &[data-direction='horizontal'] {
          width: 250px;
          height: 16px;
        }
      }
    }
  }

  .vega-bindings {
    display: none;
  }

  /* 
    controls = container for panel group selector and visualisation bindings 
    bindings = visualisation bindings (inputs)
    params = key / value pairs of params in markup for download
  */
  .controls:not(:empty) {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    label {
      flex-direction: column;
      /* container for stepper */
      > div {
        display: flex;
        gap: 4px;
        button {
          aspect-ratio: 1;
        }
      }
    }
  }

  .bindings {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    /* align size and weight of checkbox label with other binding labels */
    label:has(input[type='checkbox']) {
      font-weight: 700;
      font-size: var(--level-6-font-size);
      line-height: var(--level-6-line-height);
    }
  }

  .params:not(:empty),
  .controls:not(:empty) {
    padding: 0 24px 24px 24px;
  }

  /* hide controls without panel selector and bindings */
  .controls:has(> .bindings:empty):not(:has(> label)):not(
      :has(> .stepperButtons)
    ) {
    display: none;
  }

  .params dl {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    dt,
    dd {
      display: inline-flex;
    }
    dt {
      font-weight: 700;
    }
  }

  .stepperButtons {
    display: flex;
    gap: 8px;
    button {
      padding: 0;
      width: 40px;
      height: 40px;
      justify-content: center;
      /* disable click events on content bc we check if a button is clicked */
      * {
        pointer-events: none;
      }
    }
  }

  .download-image {
    width: 800px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;

    * {
      pointer-events: none;
    }

    h2 {
      font-size: 24px;
      line-height: 1.2;
    }
    figcaption {
      font-size: 16px;
    }
    footer {
      p,
      dl {
        font-size: 16px;
      }
    }
  }

  /* toggle download button icon */
  .downloadImageButton {
    os-icon:nth-child(1) {
      display: inline-flex;
    }
    os-icon:nth-child(2) {
      display: none;
    }
  }

  .downloadImageButton.downloading {
    os-icon:nth-child(1) {
      display: none;
    }
    os-icon:nth-child(2) {
      display: inline-flex;
    }
  }

  .editorButton {
    position: absolute;
    top: 20px;
    right: 24px;
    display: none;
  }
  .editorButton.show {
    display: block;
  }
  /* always hide editor button for images */
  .editorButton.alwaysHide,
  .editorButton.show.alwaysHide {
    display: none;
  }

  /* helper class to fade in an element */
  .fadeIn {
    animation: fadeIn 500ms ease-in-out;
  }
}
