.card {
  background-color: transparent;
  border: none;
  cursor: pointer;
  min-height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  border: 1px solid var(--grey1);
  padding: 1rem;
  white-space: normal;
  overflow: hidden;
  > h2 {
    line-height: 1;
    z-index: 1;
    text-wrap: balance;
  }
  &:hover,
  &:focus {
    text-decoration: none;
    border: 2px solid var(--blue);
  }

  /* overide css for svg's in buttons */
  svg * {
    fill: revert-layer;
  }
}

.vis {
  /* this sets the width for specs with width: container */
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;

  transform: scale(0.5) translate(-50%, -60%);
  transform-origin: top left;
  pointer-events: none;
}
