.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    height: 46px;
    width: 46px;
    font-size: 30px;
  }
}

.container {
  display: flex;
  flex-direction: row;
  border: 1px solid #dedede;

  @media only screen and (max-width: 768px) {
    flex-direction: column-reverse;
  }
}

.mapNext {
  flex-direction: row;
  /* editor */
  & > div:first-child {
    border-right: 1px solid #dedede;
  }
}
.mapAbove {
  flex-direction: column-reverse;
  /* editor */
  & > div:first-child {
    border-top: 1px solid #dedede;
    padding-top: 20px;
  }
}

.editorPane {
  flex: 1 0 50%;
  min-width: 1px;
  * {
    font-family: monospace;
    font-size: 12px;
  }
}

.mapPane {
  flex: 1 0 50%;
  min-width: 1px;
}

.error {
  color: red;
  padding: 20px;
}
