.card {
  min-height: 364px;
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: end;
  border: 1px solid var(--grey1);
  overflow: hidden;

  footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: var(--grey);
    border-top: 1px solid var(--grey1);
    padding: 0 12px;
  }
}

.vis {
  /* this sets the width for specs with width: container */
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;

  transform: scale(0.45) translate(-50%, -60%);
  transform-origin: top left;
  pointer-events: none;
  aspect-ratio: 0.9;
}
