.container {
  display: flex;

  @media only screen and (max-width: 1024px) {
    display: block;
  }

  details {
    display: none;
  }
}

.filters {
  margin-right: 24px;
  margin-bottom: 24px;
  max-width: 240px;

  @media only screen and (max-width: 1024px) {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: flex-end;
  }

  label {
    display: flex;
    width: 230px;
    margin-bottom: 12px;
  }
}

.button {
  width: 230px;
  margin-bottom: 12px;
  &:first-of-type {
    margin-top: 28px;
  }
  @media only screen and (max-width: 1024px) {
    &:first-of-type {
      margin-top: 0;
    }
  }
}

.map {
  width: 100%;
}

.infoBox {
  margin-top: 24px;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: var(--level-6-font-size);
}
