.container {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 24px;
  row-gap: 40px;
  margin-bottom: 40px;

  @media only screen and (min-width: 600px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media only screen and (min-width: 900px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
