.inputContainer {
  display: inline-flex;
  flex-direction: column;
}

.colorBlock {
  background-color: var(--bgColor);
  padding-inline: 4px;
  min-width: 52px;
  height: 52px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: var(--textColor);
}

.codeBlockContainer {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  gap: 12px;
  margin-top: 40px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;

    & :nth-child(3n) {
      margin-bottom: 24px;
    }
  }
}

.colorComboContainer {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  & span {
    display: inline-flex;
  }
}
